@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 200%;
  margin-bottom: 30px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

#todo-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  font-size: 16px;
}

#add-todo-btn {
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

li.completed {
  background-color: #e6e6e6;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button.delete-btn {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

button.delete-btn:hover {
  background-color: #cc0000;
}

button.edit-btn {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #4d77ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

button.edit-btn:hover {
  background-color: #0e00cc;
}

button#delete-completed-btn{
  text-align: center;
  padding: 5px;
}